@define-color background-color #1a1b26;
@define-color border-color #c7a9ff;
@define-color label #a9b1d6;
@define-color image #a9b1d6;
@define-color progress #c7a9ff;

window {
  border-radius: 10px;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'Liberation Sans';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
